@import "tailwindcss";

@layer base {
    :root {
      /* Vos variables light theme */
    }
    
    [data-theme="dark"] {
      /* Vos variables dark theme */
    }
  }

  @theme {
    --color-navlink-light: #1f2937; /* Couleur des navlinks en mode clair */
    --color-navlink-dark: #ffffff;  /* Couleur des navlinks en mode sombre */
  }

  .navlink {
    color: var(--color-navlink-light);
  }
  
  .dark .navlink {
    color: var(--color-navlink-dark);
  }
  