@import "tailwindcss";

:root {
  --background-color: #ffffff; /* Fond clair */
  --text-color: #000000; /* Texte noir */
}

.dark {
  --background-color: #121212; /* Fond sombre */
  --text-color: #ffffff; /* Texte blanc */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}